[submodule "dependencies/core"]
	path = dependencies/core
	url = https://github.com/DSanzh/ExampleCore
[submodule "dependencies/data"]
	path = dependencies/data
	url = https://github.com/DSanzh/ExampleData
